.card-accessory{
    width: 209px;
    margin-left: 1290px;
    margin-top: 100px;
  }
  .card-header{
    background:#6695ac;
    color:whitesmoke;
  }
  .bg{
    background:#f8f8f8;
  }
  thead{
    background:#6695ac;
    color:white;
  }
  .table {
    width: 10px;
    margin-top: -613px;
    margin-left: 96px;
}

.mega-menu{
  width: 800px;
  overflow: hidden;
  padding: 10px;
}

.card-img-top{
  width: 284px;
height: 256px;
align-items: left;
margin-left: -15px;
}
.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.2;
  color: #fff;
  background: url("/static/app_images/bg.gif") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.jumbotron h2 {margin-top:0;}
.jumbotron {
position:relative;
padding-top:50px;
padding-bottom:50px;
}
.jumbotron .container {
position:relative;
z-index:2;
}

@media screen and (max-width: 768px) {
.jumbotron {
  padding-top:20px;
  padding-bottom:20px;
}
}
a:hover {
  color:brown;
}

a:active {
  color: white;
}

.h3, h3 {
  margin-top: 23px;
}

.fi-plus:before{
    margin-left: 19px;
    margin-top: 10px;
   }

   