{% extends 'base1.html' %}
{% load static %}
{% block body %}


 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 style="margin-top: 23px;" class="panel-title">Add Appointments</h3>
                    </div>
                    <div class="panel-body">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %} 
{{ form.as_p }}
<input type='submit' value='Save' />

</form>
</div>
</div>
</div>
</div>
</div>
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
