{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" integrity="sha256-xtpiJw1+6DW1Oac4CVyU7PbCxHxufOBIspA9T79Y384=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/table.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/menu.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/grid.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/popup.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/label.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/css/card.min.css' %}"  crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static '/open-iconic/font/css/open-iconic-foundation.min.css' %}"  crossorigin="anonymous" />
    <link href="{% static 'fullcalendar/dist/core/main.css' %}" rel='stylesheet' />
   <link href="{% static 'fullcalendar/dist/daygrid/main.css' %}" rel='stylesheet' />
   <link rel="type/stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.min.css" />
   <link rel="type/stylesheet" href="{% static '/css/fullcalendar.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css' %}" crossorigin="anonymous" />
    <script src="{% static '/js/slim.min.js' %}"  crossorigin="anonymous"></script>
    <script src="{% static '/js/popper.min.js' %}"  crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>
 
    <script src="{% static '/js/popup.min.js' %}"  crossorigin="anonymous"></script>
    <script type='text/javascript' src="{% static 'fullcalendar/dist/core/main.js' %}"></script>
   <script type='text/javascript' src="{% static 'fullcalendar/dist/daygrid/main.js' %}"></script>
   <script type='text/javascript' src="{% static 'fullcalendar/dist/interaction/main.js' %}"></script>
   <script type='text/javascript' src="{% static 'fullcalendar/dist/timeGrid/main.js' %}"></script>
   <script type='text/javascript' src="{% static 'fullcalendar/dist/moment/main.min.js' %}"></script>
   <script rel="type/javascript" src="https://code.jquery.com/jquery-1.11.3.js"></script>
   <!-- <script rel="type/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script> -->
   
   <script rel="type/javascript" src="{% static '/js/fullcalendar.min.js' %}"></script>
   <script rel="type/javascript" src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
   <script rel="type/javascript" src="{% static '/js/moment.min.js' %}"></script>
   <script>
     var jsonobj=[];
     document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar1');
  let url = 'http://localhost:8000/schedule/api/occurrences?calendar_slug=appointment&start=2019-01-01&end=3000-12-31';
  var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false ); // false for synchronous request
    xmlHttp.send( null );
    var data=JSON.parse(xmlHttp.responseText);
    for(var i=0;i<data.length;i++){
     var temp= {
        title:data[i].title,
        start:data[i].start,
        end:data[i].end,
        color:data[i].color
      };
      console.log(temp);
      jsonobj.push(temp);
    }
    
// Open a new connection, using the GET request on the URL endpoint
// request.open('GET', 'http://localhost:8000/schedule/api/occurrences?calendar_slug=appointments&start=2019-06-30&end=2019-08-11', true)

// data.forEach(movie => {
//   // Log each movie's title
//   console.log(movie.title);
// });
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth() + 1; //January is 0!

var yyyy = today.getFullYear();
if (dd < 10) {
  dd = '0' + dd;
} 
if (mm < 10) {
  mm = '0' + mm;
} 
var td = yyyy + '-' + mm + '-' + dd;
  var calendar = new FullCalendar.Calendar(calendarEl, {
    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ],
    defaultView: 'dayGridMonth',
    defaultDate: td,
    header: {
      left: 'prev,next today',
      center: 'title',
      <!-- right: 'dayGridMonth,timeGridWeek,timeGridDay' -->
    },
    events:jsonobj
  });
  calendar.render();
});
//    $(document).ready(function() {

// $('#calendar1').fullCalendar({
//   header: {
//     left: 'prev,next,today',
//     center: 'title',
//     right: 'month,agendaWeek,agendaDay',
//     // events: '/schedule/api/occurrences?calendar_slug=appointments'
//     },
//     events: [
//       {
//         title: 'All Day Event',
//         start: '2019-06-01'
//       },
//       {
//         title: 'Long Event',
//         start: '2019-06-07',
//         end: '2019-06-10'
//       },
//       {
//         groupId: '999',
//         title: 'Repeating Event',
//         start: '2019-06-09T16:00:00'
//       },
//       {
//         groupId: '999',
//         title: 'Repeating Event',
//         start: '2019-06-16T16:00:00'
//       },
//       {
//         title: 'Conference',
//         start: '2019-06-11',
//         end: '2019-06-13'
//       },
//       {
//         title: 'Meeting',
//         start: '2019-06-12T10:30:00',
//         end: '2019-06-12T12:30:00'
//       },
//       {
//         title: 'Lunch',
//         start: '2019-06-12T12:00:00'
//       },
//       {
//         title: 'Meeting',
//         start: '2019-06-12T14:30:00'
//       },
//       {
//         title: 'Birthday Party',
//         start: '2019-06-13T07:00:00'
//       },
//       {
//         title: 'Click for Google',
//         url: 'http://google.com/',
//         start: '2019-06-28'
//       }
//     ]

// });

// });
</script>

<style>
  
a:hover {
  color:brown;
}
a:active {
  color: white;
}

.fi-plus:before{
    margin-left: 19px;
    margin-top: 10px;
   }
                          
</style>
</head>
 <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Shepherd Foundation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Child
              </a>


              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="container">
                    <div class="disabled"><a><strong>Child Filters</strong></a></div>
                  <div class="row">
                    <div class="col-md-4">
                        <a class="ui card " href="/studentlist">
                            <div class="content">
                              <div class="center aligned header">All</div>
                              <div class="center aligned description">
                                <p>Get total childs list</p>
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="center aligned author">
                                <!-- <img class="ui avatar image" src={% static '/app_images/t_dm.jpg' %} /> -->
                              </div>
                            </div>
                        </a>
                      </div>
                    <div class="col-md-4">
                     <a class="ui card" href="/only_female">
                        <div class="content">
                          <div class="center aligned header">Female</div>
                          <div class="center aligned description">
                            <p>Get total childs list</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <div class="center aligned author">
                            <!-- <img class="ui avatar image" src={% static '/app_images/f_dm.jpg' %} /> -->
                          </div>
                        </div>
                     </a>
                    </div>
                   
                  <div class="col-md-4">  
                    <a class="ui card" href="/only_male">
                      <div class="content">
                        <div class="center aligned header">Male</div>
                        <div class="center aligned description">
                          <p>Get total childs list</p>
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="center aligned author">
                          <!-- <img class="ui avatar image" src={% static '/app_images/m_dm.jpg' %} /> -->
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">  
                      <a class="ui card" href="/only_indian">
                        <div class="content">
                          <div class="center aligned header">Indian</div>
                          <div class="center aligned description">
                            <p>Get total childs list</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <div class="center aligned author">
                            <!-- <img class="ui avatar image" src={% static '/app_images/ind_dm.jpg' %} /> -->
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-4">  
                        <a class="ui card" href="/only_chinese">
                          <div class="content">
                            <div class="center aligned header">Chinese</div>
                            <div class="center aligned description">
                              <p>Get total childs list</p>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="center aligned author">
                              <!-- <img class="ui avatar image" src={% static '/app_images/chin_dm.jpg' %}> -->
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-4">  
                          <a class="ui card" href="/only_orange_asli">
                            <div class="content">
                              <div class="center aligned header">Orange Asli</div>
                              <div class="center aligned description">
                                <p>Get total childs list</p>
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="center aligned author">
                                <!-- <img class="ui avatar image" src={% static '/app_images/og_dm.jpg' %} /> -->
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-4">  
                            <a class="ui card" href="/up_to_12">
                              <div class="content">
                                <div class="center aligned header">Kids</div>
                                <div class="center aligned description">
                                  <p>Get total childs list of age 0-12</p>
                                </div>
                              </div>
                              <div class="extra content">
                                <div class="center aligned author">
                                  <!-- <img class="ui avatar image" src={% static '/app_images/og_dm.jpg' %} /> -->
                                </div>
                              </div>
                            </a>
                          </div>
                          <div class="col-md-4">  
                              <a class="ui card" href="/up_to_17">
                                <div class="content">
                                  <div class="center aligned header">Adult</div>
                                  <div class="center aligned description">
                                    <p>Get total childs list of age 13-17</p>
                                  </div>
                                </div>
                                <div class="extra content">
                                  <div class="center aligned author">
                                    <!-- <img class="ui avatar image" src={% static '/app_images/og_dm.jpg' %} /> -->
                                  </div>
                                </div>
                              </a>
                            </div>
                            <div class="col-md-4">  
                                <a class="ui card" href="/above_17">
                                  <div class="content">
                                    <div class="center aligned header">Major</div>
                                    <div class="center aligned description">
                                      <p>Get total childs list of age above 18</p>
                                    </div>
                                  </div>
                                  <div class="extra content">
                                    <div class="center aligned author">
                                      <!-- <img class="ui avatar image" src={% static '/app_images/og_dm.jpg' %} /> -->
                                    </div>
                                  </div>
                                </a>
                            </div>
                </div>
              </div>
            </div>


            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Homes
                </a>
                <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-4">
                          <a class="ui card " href="/only_bh_1">
                              <div class="content">
                                <div class="center aligned header">Boys Homes 1</div>
                                <div class="center aligned description">
                                  <p>Get total childs list</p>
                                </div>
                              </div>
                              <div class="extra content">
                                <div class="center aligned author">
                                  <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %} />
                                </div>
                              </div>
                          </a>
                        </div>
                      <div class="col-md-4">
                       <a class="ui card" href="/only_bh_2">
                          <div class="content">
                            <div class="center aligned header">Boys Home 2</div>
                            <div class="center aligned description">
                              <p>Get total childs list</p>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="center aligned author">
                              <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %} />
                            </div>
                          </div>
                       </a>
                      </div>
                     
                    <div class="col-md-4">  
                      <a class="ui card" href="/only_bh_3">
                        <div class="content">
                          <div class="center aligned header">Boys Home 3</div>
                          <div class="center aligned description">
                            <p>Get total childs list</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <div class="center aligned author">
                            <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %} />
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-4">  
                        <a class="ui card" href="/only_bh_4">
                          <div class="content">
                            <div class="center aligned header">Boys Home 4</div>
                            <div class="center aligned description">
                              <p>Get total childs list</p>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="center aligned author">
                              <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %} />
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-4">  
                          <a class="ui card" href="/only_gh">
                            <div class="content">
                              <div class="center aligned header">Girls Home</div>
                              <div class="center aligned description">
                                <p>Get total childs list</p>
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="center aligned author">
                                <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %}>
                              </div>
                            </div>
                          </a>
                        </div>
                        <div class="col-md-4">  
                            <a class="ui card" href="/only_ofh">
                              <div class="content">
                                <div class="center aligned header">Old Folk Home</div>
                                <div class="center aligned description">
                                  <p>Get total childs list</p>
                                </div>
                              </div>
                              <div class="extra content">
                                <div class="center aligned author">
                                  <img class="ui avatar image" src={% static '/app_images/h_dm.jpg' %} />
                                </div>
                              </div>
                            </a>
                          </div>
                  </div>
                </div>
              </div>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vehicle
              </a>
              <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class="container">
                    <div class="disabled"><a><strong></strong></a></div>
                  <div class="row">
                    <div class="col-md-4">
                        <a class="ui card " href="/vehicles">
                            <div class="content">
                              <div class="center aligned header">Buses</div>
                              <div class="center aligned description">
                                <p>Get total bus list</p>
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="center aligned author">
                                <!-- <img class="ui avatar image" src={% static '/app_images/t_dm.jpg' %} /> -->
                              </div>
                            </div>
                        </a>
                      </div>
                    <div class="col-md-4">
                     <a class="ui card" href="/daily_status">
                        <div class="content">
                          <div class="center aligned header">DailyStatus</div>
                          <div class="center aligned description">
                            <p>Get daily status list</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <div class="center aligned author">
                            <!-- <img class="ui avatar image" src={% static '/app_images/f_dm.jpg' %} /> -->
                          </div>
                        </div>
                     </a>
                    </div>
                   
                  <div class="col-md-4">  
                    <a class="ui card" href="/taxes">
                      <div class="content">
                        <div class="center aligned header">Taxes</div>
                        <div class="center aligned description">
                          <p>Get Tax informations</p>
                        </div>
                      </div>
                      <div class="extra content">
                        <div class="center aligned author">
                          <!-- <img class="ui avatar image" src={% static '/app_images/m_dm.jpg' %} /> -->
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-4">  
                      <a class="ui card" href="/maintainance_status">
                        <div class="content">
                          <div class="center aligned header">Maintenance</div>
                          <div class="center aligned description">
                            <p>Get the Maintenance list</p>
                          </div>
                        </div>
                        <div class="extra content">
                          <div class="center aligned author">
                            <!-- <img class="ui avatar image" src={% static '/app_images/ind_dm.jpg' %} /> -->
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col-md-4">  
                        <a class="ui card" href="/expenses">
                          <div class="content">
                            <div class="center aligned header">Expenses</div>
                            <div class="center aligned description">
                              <p>Get total Expenses list</p>
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="center aligned author">
                              <!-- <img class="ui avatar image" src={% static '/app_images/chin_dm.jpg' %}> -->
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="col-md-4">  
                          <a class="ui card" href="/fuel">
                            <div class="content">
                              <div class="center aligned header">Fuel</div>
                              <div class="center aligned description">
                                <p>Get total Fuel list</p>
                              </div>
                            </div>
                            <div class="extra content">
                              <div class="center aligned author">
                                <!-- <img class="ui avatar image" src={% static '/app_images/og_dm.jpg' %} /> -->
                              </div>
                            </div>
                          </a>
                        </div>
                </div>
              </div>
            </div>   
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/fullcalendar">Appointments <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul>
            
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
        {% if user.is_authenticated %}
        <div class="ui divided selection list">
            <a class="item">
              <div class="ui red horizontal label">Hi {{ user.username }}!</div>
              <a class="ui red horizontal label" href="{% url 'logout' %}">logout</a>
            </a>
            
{% else %}
  <a class="btn btn-primary btn-med" href="{% url 'login' %}">login</a>
{% endif %}
      </nav>
          
          {% block body %}
             <!-- <h1>base</h1> -->
          {% endblock %}
          
 </body>
</html>