{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Budget List</h3>
<table class="ui olive table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui olive right corner label" href="/add_budget">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Unit</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
         {% for i in budget_list %}
           <td><a href="/{{i.user_id}}/edit_budget">{{i.date}}</a></td>
           <td>{{i.time}}</td>
           <td>{{i.unit}}</td>
           <td>{{i.price}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}