{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Daily List</h3>
<table class="ui red table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui red right corner label" href="/add_daily_status">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>VehicleNo</th>
            <th>TimeIn</th>
            <th>TimeOut</th>

          </tr>
        </thead>
        <tbody>
         {% for i in dai_list %}
           <td><a href="/{{i.user_id}}/edit_daily_status">{{i.date}}</a></td>
           <td>{{i.vehicle_no}}</td>
           <td>{{i.time_In}}</td>
           <td>{{i.time_out}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}