{% extends 'base1.html' %}
{% load static %}
{% block body %}
{% csrf_token %}
<style>
img{
  width: 54px;
}
.ui.cards>.card {
    font-size: 1em;
    margin: 5.875em .5em;
    margin-top: 5.875em;
    margin-right: 0.5em;
    margin-bottom: 5.875em;
    margin-left: 0.5em;
}
</style>
        <form action='.' method='POST'>{% csrf_token %}
          <!-- <h2>Do you want to delete {{ roll_no }}</h2>
          <a href='/delete/{{roll_no}}' >Yes</a></p><a href='/{{roll_no}}/edit' >Cancel</a></p> -->
          <div class="container">
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <img class="right floated mini ui image" src="/{{image}}" />
                <div class="header">
                  {{name}}
                </div>
                <div class="meta">
                  Delete {{name}}
                </div>
                <div class="description">
                  Are you sure ,want to delete {{name}}'s details ... ?
                </div>
              </div>
              <div class="extra content">
                <div class="ui two buttons">
                  <a class="ui basic red button" href='/delete/{{roll_no}}'>Delete</a>
                  <a class="ui basic green button" href='/{{roll_no}}/edit'>Cancel</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </form>
{% endblock %}