{% extends 'base1.html' %}
{% load static %}
{% block body %}
{% csrf_token %}
            {% csrf_token %} 
            <style>
            .card{
              margin-top: 31px;
            }
            </style>
              
                <div class="container">
                  <div class="row">
                  <div class="card col-md-3" style="widows: 18rem;">
                    <img class="card-img-top stud_img" src="/{{image}}" />
                     <div class="card-body">
                        <h5 class="card-title">Child Details</h5>
                        <p class='card-text'>Action of the Child details can be done here</p>
                        <a class='btn btn-outline-primary' href='/{{roll_no}}/edit_child'>Edit</a>
                        <a class='btn btn-outline-danger' href='/delete_child/{{roll_no}}'>Delete</a>
                    </div>
                  </div>
              
            
                  <div class="card col-md-3" style="width:18rem;">
                    <img class="card-img-top" src="{% static 'app_images/health_condition.gif' %}" alt="Childs Image" />
                        <div class="card-body">
                          <h5 class="card-title">Health Condition</h5>
                          <p class='card-text'>Action of the Health Condition can be done here</p>
                          <a class='btn btn-outline-primary'  href='/{{roll_no}}/edit_health_condition'>Edit</a>
                          <!-- <a class='btn btn-outline-danger'  href='/delete_health_condition/{{roll_no}}'>Delete</a> -->
                        </div>
                  </div>
            
                
                   <div class="card col-md-3" style="width:18rem;">
                    <img class="card-img-top" src="{% static 'app_images/social_background.gif' %}" alt="Childs Image" />
                        <div class="card-body">
                          <h5 class="card-title">Social Background</h5>
                          <p class='card-text'>Action of the Back Ground can be done here</p>
                          <a class='btn btn-outline-primary'  href='/{{roll_no}}/edit_social_background'>Edit</a>
                          <!-- <a class='btn btn-outline-danger'  href='/delete_social_background/{{roll_no}}'>Delete</a> -->
                        </div>
                  </div> 
                
                 
                  <div class="card col-md-3" style="width:18rem">
                    <img class="card-img-top" src="{% static 'app_images/progress_report.gif' %}" alt="Childs Image" />
                    <div class="card-body">
                          <h5 class="card-title">Progress Report</h5>
                          <p class='card-text'>Action of the Progress Report can be done here</p>
                          <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_progress_report'>Edit</a>
                          <!-- <a class='btn btn-outline-danger' None href='/delete_progress_report/{{roll_no}}'>Delete</a> -->
                        </div>
                  </div>
                </div>
                <div class="row">
                                        <div class="card col-md-3" style="width:18rem">
                                          <img class="card-img-top" src="{% static 'app_images/welfare_case.gif' %}" alt="Childs Image" />
                                              <div class="card-body">
                                                <h5 class="card-title">Welfare Case</h5>
                                                <p class='card-text'>Action of the Welfare Case can be done here</p>
                                                <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_welfare_case'>Edit</a>
                                                <!-- <a class='btn btn-outline-danger' None href='/delete_welfare_case/{{roll_no}}'>Delete</a> -->
                                              </div>
                                        </div>
                                    
                                <div class="card col-md-3" style="width:18rem">
                                  <img class="card-img-top" src="{% static 'app_images/referer.gif' %}" alt="Childs Image" />
                                      <div class="card-body">
                                        <h5 class="card-title">Referer</h5>
                                        <p class='card-text'>Action of the Referer can be done here</p>
                                        <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_referer'>Edit</a>
                                        <!-- <a class='btn btn-outline-danger' None href='/delete_referer/{{roll_no}}'>Delete</a> -->
                                      </div>
                                </div>
                          
                              
                                    <div class="card col-md-3" style="width:18rem;">
                                      <img class="card-img-top" src="{% static 'app_images/from_record.gif' %}" alt="Childs Image" />
                                          <div class="card-body">
                                            <h5 class="card-title">From Record</h5>
                                            <p class='card-text'>Action of the From Record can be done here</p>
                                            <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_from_record'>Edit</a>
                                            <!-- <a class='btn btn-outline-danger' None href='/delete_from_record/{{roll_no}}'>Delete</a> -->
                                          </div>
                                    </div>
                                
                              
                                        <div class="card col-md-3" style="width:18rem;">
                                          <img class="card-img-top" src="{% static 'app_images/police_report.jpg' %}" alt="Childs Image" />
                                              <div class="card-body">
                                                <h5 class="card-title">Police Report</h5>
                                                <p class='card-text'>Action of the Police Report can be done here</p>
                                                <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_police_report'>Edit</a>
                                                <!-- <a class='btn btn-outline-danger' None href='/delete_police_report/{{roll_no}}'>Delete</a> -->
                                              </div>
                                        </div>
                                      </div>
                                     <div class="row">
                                            <div class="card col-md-3" style="width: 18rem;">
                                          <img class="card-img-top" src="{% static 'app_images/familybackground.gif' %}" alt="Childs Image" />

                                                  <div class="card-body">
                                                    <h5 class="card-title">Family Background</h5>
                                                    <p class='card-text'>Action of the Family Background can be done here</p>
                                                    <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_family_background'>Edit</a>
                                                    <!-- <a class='btn btn-outline-danger' None href='/delete_family_background/{{roll_no}}'>Delete</a> -->
                                                  </div>
                                            </div>
                                      <div class="card col-md-3" style="width: 18rem;">
                                        <img class="card-img-top" src="{% static 'app_images/documents.gif' %}" alt="Childs Image" />
                                            <div class="card-body">
                                              <h5 class="card-title">Documents</h5>
                                              <p class='card-text'>Action of the Documents can be done here</p>
                                              <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_document'>Edit</a>
                                              <!-- <a class='btn btn-outline-danger' None href='/delete_document/{{roll_no}}'>Delete</a> -->
                                            </div>
                                      </div>
                              
                                <div class="card col-md-3" style="width: 18rem;">
                                  <img class="card-img-top" src="{% static 'app_images/childs_record.gif' %}" alt="Childs Image" />
                                      <div class="card-body">
                                        <h5 class="card-title">Childs Record</h5>
                                        <p class='card-text'>Action of the Childs Record can be done here</p>
                                        <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_childs_record'>Edit</a>
                                        <!-- <a class='btn btn-outline-danger' None href='/delete_childs_record/{{roll_no}}'>Delete</a> -->
                                      </div>
                                </div>
                      
                          <div class="card col-md-3" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'app_images/personel.gif' %}" alt="Childs Image" />
                                <div class="card-body">
                                  <h5 class="card-title">Personel Record</h5>
                                  <p class='card-text'>Action of the Personel Record can be done here</p>
                                  <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_personel_record'>Edit</a>
                                  <!-- <a class='btn btn-outline-danger' None href='/delete_personel_record/{{roll_no}}'>Delete</a> -->
                                </div>
                          </div>
                        </div>
                            
                           <div class="row">
                                <div class="card col-md-3" style="width: 18rem;">
                                  <img class="card-img-top" src="{% static 'app_images/character.gif' %}" alt="Childs Image" />
                                      <div class="card-body">
                                        <h5 class="card-title">Character Record</h5>
                                        <p class='card-text'>Action of the Character Record can be done here</p>
                                        <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_character_record'>Edit</a>
                                        <!-- <a class='btn btn-outline-danger' None href='/delete_character_record/{{roll_no}}'>Delete</a> -->
                                      </div>
                                </div>
                      
                      
                          <div class="card col-md-3" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'app_images/ambition.gif' %}" alt="Childs Image" />
                                <div class="card-body">
                                  <h5 class="card-title">Ambition Record</h5>
                                  <p class='card-text'>Action of the Ambition Record can be done here</p>
                                  <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_ambition_record'>Edit</a>
                                  <!-- <a class='btn btn-outline-danger' None href='/delete_ambition_record/{{roll_no}}'>Delete</a> -->
                                </div>
                          </div>
                
                    <div class="card col-md-3" style="width: 18rem;">
                      <img class="card-img-top" src="{% static 'app_images/health_record.gif' %}" alt="Childs Image" />
                          <div class="card-body">
                            <h5 class="card-title">Health Record</h5>
                            <p class='card-text'>Action of the Health Record can be done here</p>
                            <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_health_record'>Edit</a>
                            <!-- <a class='btn btn-outline-danger' None href='/delete_health_record/{{roll_no}}'>Delete</a> -->
                          </div>
                    </div>
              <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'app_images/favourites.gif' %}" alt="Childs Image" />
                    <div class="card-body">
                      <h5 class="card-title">Favourites</h5>
                      <p class='card-text'>Action of the Favourites can be done here</p>
                      <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit_favourites'>Edit</a>
                      <!-- <a class='btn btn-outline-danger' None href='/delete_favourites/{{roll_no}}'>Delete</a> -->
                    </div>
              </div>
            </div>
                            <div class="row">
                                <div class="card col-md-3" style="width: 18rem;">
                                  <img class="card-img-top" src="{% static 'app_images/daily_report.gif' %}" alt="Childs Image" />
                                      <div class="card-body">
                                        <h5 class="card-title">Daily Report</h5>
                                        <p class='card-text'>Action of the Daily Report can be done here</p>
                                        <a class='btn btn-outline-success' None href='/{{roll_no}}/add_daily_report'>Add Report</a>
                                        <a class='btn btn-outline-info' None href='/{{roll_no}}/list_daily_report'>View List</a>
                                        <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                                      </div>
                                    </div> 
                            <div class="card col-md-3" style="width: 18rem;">
                              <img class="card-img-top" src="{% static 'app_images/discipline.gif' %}" alt="Childs Image" />
                                  <div class="card-body">
                                    <h5 class="card-title">Discipline Record</h5>
                                    <p class='card-text'>Action of the Discipline Record can be done here</p>
                                    <a class='btn btn-outline-success' None href='/{{roll_no}}/add_discipline_record'>Add Report</a>
                                    <a class='btn btn-outline-info' None href='/{{roll_no}}/list_discipline_record'>View List</a>
                                    <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                                  </div>
                            </div>
                        <div class="card col-md-3" style="width: 18rem;">
                          <img class="card-img-top" src="{% static 'app_images/visitors.gif' %}" alt="Childs Image" />
                              <div class="card-body">
                                <h5 class="card-title">Visitor Record</h5>
                                <p class='card-text'>Action of the Visitor Record can be done here</p>
                                <a class='btn btn-outline-success' None href='/{{roll_no}}/add_visitor_record'>Add Report</a>
                                <a class='btn btn-outline-info' None href='/{{roll_no}}/list_visitor_record'>View List</a>
                                <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                              </div>
                        </div>
               
                  <div class="card col-md-3" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'app_images/hospital.gif' %}" alt="Childs Image" />
                        <div class="card-body">
                          <h5 class="card-title">Hospital Record</h5>
                          <p class='card-text'>Action of the Hospital Record can be done here</p>
                          <a class='btn btn-outline-success' None href='/{{roll_no}}/add_hospital_record'>Add Report</a>
                          <a class='btn btn-outline-info' None href='/{{roll_no}}/list_hospital_record'>View List</a>
                          <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                        </div>
                  </div>
               </div>
                      <div class=row>
                                <div class="card col-md-3" style="width: 18rem;">
                                  <img class="card-img-top" src="{% static 'app_images/tour.gif' %}" alt="Childs Image" />
                                      <div class="card-body">
                                        <h5 class="card-title">Tour Record</h5>
                                        <p class='card-text'>Action of the Tour Record can be done here</p>
                                        <a class='btn btn-outline-success' None href='/{{roll_no}}/add_tour_record'>Add Report</a>
                                        <a class='btn btn-outline-info' None href='/{{roll_no}}/list_tour_record'>View List</a>
                                        <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                                      </div>
                                </div>
                        {% if childs_fund is not False %}
              
                          <div class="card col-md-3" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'app_images/childs_fund.gif' %}" alt="Childs Image" />
                                <div class="card-body">
                                  <h5 class="card-title">Childs Fund</h5>
                                  <p class='card-text'>Action of the Childs Fund can be done here</p>
                                  <a class='btn btn-outline-success' None href='/{{roll_no}}/add_childs_fund'>Add Report</a>
                                  <a class='btn btn-outline-info' None href='/{{roll_no}}/list_childs_fund'>View List</a>
                                  <!-- <a class='btn btn-outline-primary' None href='/{{roll_no}}/edit'>Delete</a> -->
                                </div>
                          </div>
                     {% endif %}
                          
                </div>
                </div>
        <!-- <a href='/{{roll_no}}/edit_welfare_case'>Edit welfare case</a>
        <a href='/delete_welfare_case/{{roll_no}}'>Delete welfare case</a>
        <a href='/{{roll_no}}/edit_referer'>Edit referer</a>
        <a href='/delete_referer/{{roll_no}}'>Delete referer</a> -->



{% endblock %}