{% extends 'base1.html' %}
{% load static %}
{% block body %}

        

    {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 style="margin-top: 23px;" class="panel-title">Child details</h3>
                    </div>
                    <div class="panel-body">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %} 
{{ form.as_p }}
<input class='btn btn-outline-primary' type='submit' value='Save' />
<a class='btn btn-outline-danger' href="/{{roll_no}}/edit" >Cancel</a>


</form>
</div>
</div>
</div>
</div>
</div>
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
{% endblock %}
