{% extends 'base1.html' %}
{% load static %}
{% csrf_token %}
{% block body %}
<div class='container'>
  <style>
          img{
            width: 54px;
          }
          .ui.cards>.card {
              font-size: 1em;
              margin: 5.875em .5em;
              margin-top: 5.875em;
              margin-right: 0.5em;
              margin-bottom: 5.875em;
              margin-left: 0.5em;
          }
  </style>
  {% csrf_token %}
  <!-- <h2>Do you want to delete {{ roll_no }}</h2>
  <a href='/delete/{{roll_no}}' >Yes</a></p><a href='/{{roll_no}}/edit' >Cancel</a></p> -->
  <div class="container">
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="{% static '/app_images/success.png' %}" />
        <div class="header">
           Success...!!
        </div>
        <div class="meta">
          Document has been created as 
        </div>
        <div class="description">
          <h4>{{roll_no}}.docx</h4>
          <div class="meta">
           In home directory 
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <!-- <a class="ui basic red button" href='/delete/{{roll_no}}'>Delete</a> -->
          <a class="ui basic blue button" href='/{{roll_no}}/edit'>Edit</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
      
{% endblock %}