{% extends 'base1.html' %}
{% load static %}
{% csrf_token %}
{% block body %}
<div class='container'>
        <style>
                img{
                  width: 54px;
                }
                .ui.cards>.card {
                    font-size: 1em;
                    margin: 5.875em .5em;
                    margin-top: 5.875em;
                    margin-right: 0.5em;
                    margin-bottom: 5.875em;
                    margin-left: 0.5em;
                }
        </style>
        {% csrf_token %}
        <!-- <h2>Do you want to delete {{ roll_no }}</h2>
        <a href='/delete/{{roll_no}}' >Yes</a></p><a href='/{{roll_no}}/edit' >Cancel</a></p> -->
        <div class="container">
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <img class="right floated mini ui image" src="{% static '/app_images/delete.png' %}" />
              <div class="header">
                Oopss....!!
              </div>
              <div class="meta">
                Details missing in 
              </div>
              <div class="description">
                <h4>{{model}}</h4>
              </div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <!-- <a class="ui basic red button" href='/delete/{{roll_no}}'>Delete</a> -->
                <a class="ui basic blue button" href='/{{roll_no}}/edit'>Edit</a>
              </div>
            </div>
          </div>
        </div>
        </div>
  </div>
      
{% endblock %}