<!-- <html>
    <head>
        <title>
            Kishan
        </title>
    </head>
    <body>
        <h1>Kishan</h1>
    </body>
</html> -->
{% extends 'base1.html' %}
    {% load static %}
    {% load tz %}

    {% get_current_timezone as TIME_ZONE %}
    

{{ value|timezone:"India/Chennai" }}
  {% block body %}
  {% csrf_token %} 

  <style>
  thead {
    background: #ffffff;
    color: #221f1f;
}
  </style>
  <div class="container" style="margin-top:28px;">
    <div id='calendar1'>
    </div>
  </div>
  {% endblock %}
