{% extends 'base1.html' %}
{% block body %}
{% load static %}
{% csrf_token %}
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>SCF</h1>
                <p>
                    Management System
                </p>
            </div>
        </div>
        <a class="btn btn-danger btn-lg" href="/add_event">Add Event</a>
        <a class="btn btn-info btn-lg" href="/add_appointment">Add Appointment</a>
        </div>
</div>
<div class="container"></div>
<div class='container jumbotron jumbotron-billboard'>
<div class="row">
  {% for i in list %}
  <div class="col-md-3">
   <a href="/{{i.user_id}}/edit_event" class="ui link blue card">
    <div class="content">
      <div class="header">{{i.title}}</div>
      <div class="meta">{{i.day}}</div>
      <div class="description">
        <p>{{i.notes}}</p>
      </div>
    </div>
    <div class="extra content">
        <span class="right floated" >
        From : {{i.start_time}} 
        To  : {{i.end_time}}
        </span>
      </div>
    </a>
  </div>
  {% endfor %}
 </div>
</div>
<div class="container">
  <h1>Management Models</h1>
  <div class="row">
<div class="ui blue cards col-md-3" style="margin: 0;margin-top: 19px;">
    <div class="card">
      <div class="image">
        <img src="{% static '/app_images/child.gif' %}">
      </div>
      <div class="content">
        <div class="header"><strong> Child List </strong></div>
        <div class="meta">
          <a></a>
        </div>
        <div class="description">
         Change and review details for a child
        </div>
      </div>
      
      <div class="extra content">
        <span class="right floated" >
              <a href="/studentlist">View</a>
        </span>
      </div>
      <div class="extra content">
        <span class="right floated" >
        Total : {{total_child}} 
        </span>
      </div>
    </div>
  </div>
  <div class="ui orange cards col-md-3" style="margin: 0;margin-top: 19px;">
      <div class="card">
        <div class="image">
          <img src="{% static '/app_images/mess.gif' %}">
        </div>
        <div class="content">
          <div class="header"><strong> Mess </strong></div>
          <div class="meta">
            <a></a>
          </div>
          <div class="description">
           Change and review details for mess 
          </div>
        </div>
        
        <div class="extra content">
          <span class="right floated" >
                <a href="/menus">Menus</a>
                <a href="/budget">Budgets</a>
          </span>
        </div>
        <div class="extra content">
          <span class="right floated" >
          Total : {{total_child}} 
          </span>
        </div>
      </div>
    </div>
    <div class="ui green cards col-md-3" style="margin: 0;margin-top: 19px;">
        <div class="card">
          <div class="image">
            <img src="{% static '/app_images/hostel.gif' %}">
          </div>
          <div class="content">
            <div class="header"><strong> Resident </strong></div>
            <div class="meta">
              <a></a>
            </div>
            <div class="description">
             Change and review details for resident
            </div>
          </div>
          
          <div class="extra content">
            <span class="right floated" >
                  <a href="/residents">View</a>
            </span>
          </div>
          <div class="extra content">
            <span class="right floated" >
            Total : {{total_child}} 
            </span>
          </div>
        </div>
      </div> 
      <div class="ui yellow cards col-md-3" style="margin: 0;margin-top: 19px;">
          <div class="card">
            <div class="image">
              <img src="{% static '/app_images/bus.gif' %}">
            </div>
            <div class="content">
              <div class="header"><strong> Vehicle </strong></div>
              <div class="meta">
                <a></a>
              </div>
              <div class="description">
               Change and review details for vehicle
              </div>
            </div>
            
            <div class="extra content">
              <span class="right floated" >
                    <a href="/vehicles">Vehicles</a>
                    <a href="/daily_status">DailyStatus</a>
                    <a href="/taxes">Taxes</a>
                    
              </span>
            </div>
            <div class="extra content">
              <span class="right floated" >
                <a href="/maintainance_status">Maintainance</a>
                <a href="/expenses">Expenses</a>
                <a href="/fuel">Fuel</a>
              </span>
            </div>
          </div>
        </div>      
        <div class="ui red cards col-md-3" style="margin: 0;margin-top: 19px;">
            <div class="card">
              <div class="image">
                <img src="{% static '/app_images/appointments.gif' %}">
              </div>
              <div class="content">
                <div class="header"><strong> Appointments </strong></div>
                <div class="meta">
                  <a></a>
                </div>
                <div class="description">
                 Preview the detailed appointments for a days and years 
                </div>
              </div>
              
              <div class="extra content">
                <span class="right floated" >
                      <a href="/fullcalendar">View</a>
                </span>
              </div>
              <div class="extra content">
                <span class="right floated" >
                Total : {{total_child}} 
                </span>
              </div>
            </div>
          </div> 
          
          <div class="ui teal cards col-md-3" style="margin: 0;margin-top: 19px;">
            <div class="card">
              <div class="image">
                <img style="height: 169px;" src="{% static '/app_images/complaint.gif' %}">
              </div>
              <div class="content">
                <div class="header"><strong> Complaints </strong></div>
                <div class="meta">
                  <a></a>
                </div>
                <div class="description">
                 Preview the detailed complaints for student and staff
                </div>
              </div>
              
              <div class="extra content">
                <span class="right floated" >
                      <a href="/student_complaints">Student</a>
                      <a href="/staff_complaints">Staff</a>
                </span>
              </div>
              <div class="extra content">
                <span class="right floated" >
                Total : {{total_child}} 
                </span>
              </div>
            </div>
          </div>      

      </div>
</div>


</div>
  
{% endblock %}