{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Child List</h3>
<table class="ui blue table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui blue right corner label" href="/add_child">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Name</th>
            <th>RollNo</th>
            <th>Age</th>
            <th>Race</th>
            <th>Home</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         {% for i in stud_list %}
           <td><a href="/{{i.roll_no}}/edit">{{i.name}}</a></td>
           <td>{{i.roll_no}}</td>
           <td>{{i.Age}}</td>
           <td>{{i.race}}</td>
           <td>{{i.home_status}}</td>
           <td><a href="/{{i.roll_no}}/export" class="btn btn-outline-success">Export</a></td>

           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}