{% extends 'base1.html' %}
{% block body %}
{% csrf_token %}
{% for i in daily_list %}
   <h5></h5>
{% endfor %}

<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Childs Fund</h3>
<table class="ui green table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui green right corner label" href="/{{roll_no}}/add_childs_fund/">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
         {% for i in daily_list %}
           <td><a href="/{{i.user_id}}/edit_childs_fund">{{i.date}}</a></td>
           <td>{{i.total_fund}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}