{% extends 'base1.html' %}
{% block body %}
{% csrf_token %}
           
<div class='container table-hover'>
        <h3 style="margin-top: 23px;">Tour Record</h3>
<table class="ui blue table">
        <thead> 
                <div class="column">
                        <div class="ui fluid image">
                          <a class="ui blue corner label" href="/{{roll_no}}/add_tour_record/">
                          
                            <span class="fi-plus"></span>
                          </a>
                        </div>
                      </div>
          <tr>
            <th>Date</th>
            <th>Visited</th>
            <th>Type of Tour</th>
          </tr>
        </thead>
        <tbody>
         {% for i in daily_list %}
           <td><a href="/{{i.user_id}}/edit_tour_record">{{i.date}}</a></td>
           <td>{{i.place}}</td>
           <td>{{i.type_of_tour}}</td>
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}