{% extends 'base1.html' %}
{% block body %}
{% csrf_token %}
           
<div class='container table-hover'>
        <h3 style="margin-top: 23px;">Discipline Record</h3>
<table class="ui red table">
        <thead> 
                <div class="column">
                        <div class="ui fluid image">
                          <a class="ui red corner label" href="/{{roll_no}}/add_discipline_record/">
                          
                            <span class="fi-plus"></span>
                          </a>
                        </div>
                      </div>
          <tr>
            <th>S.no</th>
            <th>Date</th>
            <th>Problem</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         {% for i in daily_list %}
           <td>{{i.user_id}}</a></td>
           <td><a href="/{{i.user_id}}/edit_discipline_record">{{i.date}}</a></td>
           <td>{{i.problem}}</td>
           <td>{{i.action_taken}}</td>
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}