{% extends 'base1.html' %}
{% block body %}
{% csrf_token %}
           
<div class='container table-hover'>
        <h3 style="margin-top: 23px;">Daily Reports</h3>
<table class="ui red table">
        <thead> 
                <div class="column">
                        <div class="ui fluid image">
                          <a class="ui red right corner label" href="/{{roll_no}}/add_daily_report/">
                          
                            <span class="fi-plus"></span>
                          </a>
                        </div>
                      </div>
          <tr>
            <th>Date</th>
            <th>Issue</th>
            <th>Incharge</th>
          </tr>
        </thead>
        <tbody>
         {% for i in daily_list %}
           <td><a href="/{{i.user_id}}/edit_daily_report">{{i.date}}</a></td>
           <td>{{i.issue}}</td>
           <td>{{i.staff_incharge}}</td>
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}