{% extends 'base1.html' %}
{% block body %}
{% csrf_token %}
           
<div class='container table-hover'>
        <h3 style="margin-top: 23px;">Visitors Record</h3>
<table class="ui green table">
        <thead> 
                <div class="column">
                        <div class="ui fluid image">
                          <a class="ui green corner label" href="/{{roll_no}}/add_visitor_record/">
                            
                            <span class="fi-plus"></span>
                          </a>
                        </div>
                      </div>
          <tr>
            <th>Date</th>
            <th>Vistior Name</th>
            <th>Relationship</th>
            <th>In Time</th>
            <th>Out Time</th>

          </tr>
        </thead>
        <tbody>
         {% for i in daily_list %}
           <td><a href="/{{i.user_id}}/edit_visitor_record">{{i.date}}</a></td>
           <td>{{i.visitors_name}}</td>
           <td>{{i.relationship}}</td>
           <td>{{i.in_time}}</td>
           <td>{{i.out_time}}</td>
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}