{% extends 'base1.html' %}
{% load static %}
{% block body %}
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Sorry..!</h4>
     <p>Your username and password didn't match. Please try again.</p>
    </div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Sorry..!</h4>
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
   </div>
    {% else %}
    <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Please..!</h4>
    <p>login to see this page.</p>
    </div>
    {% endif %}
{% endif %}

 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Switch to your environment</h3>
                    </div>
                    <div class="panel-body">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<p class="bs-component">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
    <a href="#">Forgot Password?</a>
</p>
<p class="bs-component">
<center><input class="btn btn-success btn-sm" type="submit" value="login" /></center>
</p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
</div>
</div>
</div>
<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}
