{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Maintenance List</h3>
<table class="ui brown table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui brown right corner label" href="/add_maintainance">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>VehicleNO</th>

          </tr>
        </thead>
        <tbody>
         {% for i in maintainance_list %}
           <td><a href="/{{i.user_id}}/edit_maintainance">{{i.date}}</a></td>
           <td>{{i.vehicle_no}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}