{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Menu List</h3>
<table class="ui orange table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui orange right corner label" href="/add_menu">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>Day</th>
            <th>BreakFast</th>
            <th>Break</th>
            <th>Lunch</th>
            <th>Fruits</th>
            <th>Dinner</th>

          </tr>
        </thead>
        <tbody>
         {% for i in menu_list %}
           <td><a href="/{{i.user_id}}/edit_menu">{{i.date}}</a></td>
           <td>{{i.day}}</td>
           <td>{{i.breakfast}}</td>
           <td>{{i.interval}}</td>
           <td>{{i.lunch}}</td>
           <td>{{i.fruits}}</td>
           <td>{{i.dinner}}</td>

           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}