{% load static %}
<!DOCTYPE html>
<html lang="en">
{% csrf_token %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Student list</title>
        <link rel="stylesheet" href={% static '/css/bootstrap.min.css' %} crossorigin="anonymous" />
        <link rel="stylesheet" href={% static '/css/doc.css' %} crossorigin="anonymous" />
    <script type="text/script" href={% static '/js/bootstrap.min.js' %} crossorigin="anonymous"></script>
    </head>
<body>
   <img src='/{{ image }}' />
   <div class="content">
   <h2>Shepherd's Foundation</h2>
</div>

</body>
</html>