{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">{{title}}</h3>
<table class="ui purple table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui purple right corner label" href="/add_resident">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>AdmissionDate</th>
            <th>ContactPerson</th>
            <th>RelationShip</th>

          </tr>
        </thead>
        <tbody>
         {% for i in res_list %}
           <td><a href="/{{i.user_id}}/edit_resident">{{i.date}}</a></td>
           <td>{{i.name}}</td>
           <td>{{i.admission_date}}</td>
           <td>{{i.contact_person}}</td>
           <td>{{i.relationship}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}