{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Student Complaints List</h3>
<table class="ui red table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui red right corner label" href="/add_student_complaint">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>InformedTo</th>
          </tr>
        </thead>
        <tbody>
         {% for i in stud_list %}
           <td><a href="/{{i.user_id}}/edit_student_complaint">{{i.date}}</a></td>
           <td>{{i.name}}</td>
           <td>{{i.informed_to}}</td>
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}