{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Tax List</h3>
<table class="ui yellow table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui yellow right corner label" href="/add_tax">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>Date</th>
            <th>VehicleNO</th>
            <th>Insurance</th>
            <th>RoadTax</th>


          </tr>
        </thead>
        <tbody>
         {% for i in tax_list %}
           <td><a href="/{{i.user_id}}/edit_tax">{{i.date}}</a></td>
           <td>{{i.vehicle_no}}</td>
           <td>{{i.Insurance_status}}</td>
           <td>{{i.Road_tax_status}}</td>
           
           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}