{% extends 'base1.html' %}
{% csrf_token %}
{% block body %}
<div class='container table-hover'>
  <h3 style="margin-top: 23px;">Vehicle List</h3>
<table class="ui orange table">
        <thead>
            <div class="column">
                <div class="ui fluid image">
                  <a class="ui orange right corner label" href="/add_vehicle">
                    <span class="fi-plus"></span>
                  </a>
                </div>
              </div>
          <tr>
            <th>VehicleNO</th>
            <th>DriverName</th>
          </tr>
        </thead>
        <tbody>
         {% for i in vehicle_list %}
           <td><a href="/{{i.user_id}}/edit_vehicle">{{i.vehicle_no}}</a></td>
           <td>{{i.driver_name}}</td>
           

           <!-- <td>{{i.staff_incharge}}</td> -->
        </tbody>
         {% endfor %}
        </tbody>
      </table>
    </div>
      
{% endblock %}